In [1]:
import pandas as pd
import csv
import quandl

In [2]:
from config import Q_API_KEY
quandl.ApiConfig.api_key = Q_API_KEY

In [3]:
#ZILLOW/Z46075_MLP3B
zip_46075_3B = quandl.get("ZILLOW/Z46075_MLP3B")
zip_46075_3B_df = pd.DataFrame(zip_46075_3B)
zip_46075_3B_df1 = zip_46075_3B_df.rename(columns={"Value":"Median Price 3 Bedrooms"})

In [4]:
zip_46075_3B_df1.head()

            Median Price 3 Bedrooms
Date
2018-01-31                 211990.0
2018-02-28                 197000.0
2018-03-31                 194900.0
2018-04-30                 194900.0
2018-05-31                 199838.5

In [5]:
#ZILLOW/Z46075_ZHVI2B
zip_46075_2B = quandl.get("ZILLOW/Z46075_ZHVI2B")
zip_46075_2B_df = pd.DataFrame(zip_46075_2B)
zip_46075_2B_df1 = zip_46075_2B_df.rename(columns={"Value":"Median Price 2 Bedrooms"})

In [6]:
#### ZILLOW/Z46075_MLP4B
zip_46075_4B = quandl.get("ZILLOW/Z46075_MLP4B")
zip_46075_4B_df = pd.DataFrame(zip_46075_4B)
zip_46075_4B_df1 = zip_46075_4B_df.rename(columns={"Value":"Median Price 4 Bedrooms"})

In [10]:
zip_46075_5B = quandl.get("ZILLOW/Z46075_ZHVI5B")
zip_46075_5B_df = pd.DataFrame(zip_46075_5B)
zip_46075_5B_df1 = zip_46075_5B_df.rename(columns={"Value":"Median Price 5+ Bedrooms"})

In [9]:
#Value : Median Market Value (Single Family)
zip_46075_SF = quandl.get("ZILLOW/Z46075_ZHVISF")
zip_46075_SF_df = pd.DataFrame(zip_46075_SF)
zip_46075_SF_df1 = zip_46075_SF_df.rename(columns={"Value":"Median Market Value (Single Family)"})

#Value : Median List Price
zip_46075_median_listprice = quandl.get("ZILLOW/Z46075_MLPSF")
zip_46075_median_listprice_df = pd.DataFrame(zip_46075_median_listprice)
zip_46075_median_listprice_df1 = zip_46075_median_listprice_df.rename(columns={"Value":"Median List Price"})

#Value : Median List Price per Square Foot
zip_46075_median_squarefoot = quandl.get("ZILLOW/Z46075_MLPFSF")
zip_46075_median_squarefoot_df = pd.DataFrame(zip_46075_median_squarefoot)
zip_46075_median_squarefoot_df1 = zip_46075_median_squarefoot_df.rename(columns={"Value":"Median List Price per Square Foot"})

In [12]:
dfs = [zip_46075_3B_df1, zip_46075_2B_df1, zip_46075_4B_df1, zip_46075_5B_df1, zip_46075_SF_df1,
      zip_46075_median_listprice_df1, zip_46075_median_squarefoot_df1]

In [13]:
#combine dataframes
from functools import reduce
zip46075 = reduce(lambda left,right: pd.merge(left,right,on='Date', how='outer'), dfs)
zip46075.tail()

,Median Price 3 Bedrooms,Median Price 2 Bedrooms,Median Price 4 Bedrooms,Median Price 5+ Bedrooms,Median Market Value (Single Family),Median List Price,Median List Price per Square Foot
Date,,,,,,,
2017-11-30,NaN,189161.0,273490.0,300329.0,210947.0,224900.0,101.289474
2017-12-31,NaN,190477.0,271275.0,300699.0,212352.0,235000.0,100.982764
2020-01-31,NaN,215686.0,NaN,334908.0,240486.0,NaN,NaN
2020-02-29,NaN,215695.0,NaN,335613.0,241295.0,NaN,NaN
2020-03-31,NaN,215865.0,NaN,336616.0,242364.0,NaN,NaN